@import "tailwindcss";
@plugin "daisyui";

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	:root {
		--font-sans: var(--font-inter);
		--font-heading: var(--font-outfit);
		--font-body: var(--font-work-sans);
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color-dark: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	/* min-height: 100vh; */
	overflow-y: scroll;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

footer {
	position: relative;
	z-index: 1;
	bottom: 0;
	width: 100%;
}

.back,
.fore {
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: cover;
	/* z-index: -1; */
}

.back {
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform-origin: center bottom;
	animation: back-zoom linear;
	animation-timeline: scroll(y);
}

.fore {
	left: 100;
	transform: translateZ(-5px) scale(-1 -1);
}

@keyframes back-zoom {
	from {
		transform: scale(1) translateX(0);
	}
	to {
		transform: scale(2.5) translateX(0);
	}
}

.title {
	font-size: 3rem;
	color: var(--foreground);
	text-shadow: 0 0 5px var(--background);
}

section {
	font-size: 1rem;
	padding: 1rem;
	background-color: #333;
	color: white;
}

@supports (animation-timeline: view()) {
	.homecard {
		animation: fade-in-out linear forwards;
		animation-timeline: view();
		animation-range: 0% 100%;
	}
}

@supports not (animation-timeline: view()) {
	.homecard {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fade-in-out {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	30%,
	60% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@-webkit-keyframes fade-in-out {
	0% {
		scale: 0.8;
		opacity: 0;
	}
	30% {
		scale: 1;
		opacity: 1;
	}
	60% {
		scale: 1;
		opacity: 1;
	}
	100% {
		scale: 0.8;
		opacity: 0;
	}
}

.main {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 20px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: type 2s steps(40, end) forwards;
}

.life {
	opacity: 1;
	font-family: "Work Sans", sans-serif;
	margin: 0 auto auto auto;
	background: linear-gradient(
		to right,
		#506d4f,
		#466145,
		#4b684a,
		#577855,
		#5e825c,
		#739e71,
		#82b17f,
		#a6e2a3,
		#9eda9b
	);
	background-size: 100%;
	background-position: 0 0;
	text-align: center;
	font-weight: 1000;
	font-size: 90px;
	width: 100%;
	white-space: nowrap;

	@media screen and (max-width: 768px) {
		width: 100%;
		font-size: 50px;
	}
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	overflow: hidden;
	/* animation: shring-animation 2.2s steps(40, end) 1.5s forwards,
		blink 0.5s step-end infinite alternate; */
	/* tracking-in-expand-fwd-bottom 2.2s cubic-bezier(0.215, 0.61, 0.355, 1)
			1.5s both; */

	/* -webkit-animation: tracking-in-expand-fwd-bottom 2.2s
		cubic-bezier(0.215, 0.61, 0.355, 1) both; */
}

@keyframes shring-animation {
	0% {
		/* background-position: 0 0; */
		opacity: 0;
		width: 0;
	}
	1% {
		/* background-position: 0 0; */
		opacity: 1;
		border-right: 1px solid #739e71;
	}
	50% {
		/* background-position: 150px 0; */
		opacity: 1;
		border-right: 1px solid #739e71;
	}
	100% {
		/* background-position: 400px 0; */
		opacity: 1;
		border-right: 1px solid #739e71;
	}
}

@keyframes type {
	0% {
		width: 0;
	}
	1%,
	99% {
		border-right: 1px solid #739e71;
	}
	100% {
		border-right: none;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes typing {
	0%,
	1% {
		content: "";
	}
	2% {
		content: "s";
	}
	3% {
		content: "st";
	}
	4% {
		content: "sta";
	}
	5% {
		content: "star";
	}
	6% {
		content: "start";
	}
	7% {
		content: "start ";
	}
	8% {
		content: "start u";
	}
	9%,
	10% {
		content: "start up";
	}
	11% {
		content: "start u";
	}
	12% {
		content: "start ";
	}
	13% {
		content: "start";
	}
	14% {
		content: "star";
	}
	15% {
		content: "sta";
	}
	16% {
		content: "st";
	}
	17% {
		content: "s";
	}
	18%,
	19% {
		content: "";
	}

	20% {
		content: "w";
	}
	21% {
		content: "we";
	}
	22% {
		content: "web";
	}
	23% {
		content: "web ";
	}
	24% {
		content: "web a";
	}
	25% {
		content: "web ap";
	}
	26%,
	27% {
		content: "web app";
	}
	28% {
		content: "web ap";
	}
	29% {
		content: "web a";
	}
	30% {
		content: "web ";
	}
	31% {
		content: "web";
	}
	32% {
		content: "we";
	}
	33% {
		content: "w";
	}
	34%,
	35% {
		content: "";
	}

	36% {
		content: "C";
	}
	37% {
		content: "CM";
	}
	38%,
	39% {
		content: "CMS";
	}
	40% {
		content: "CM";
	}
	41% {
		content: "C";
	}
	42%,
	43% {
		content: "";
	}

	44% {
		content: "d";
	}
	45% {
		content: "da";
	}
	46% {
		content: "dat";
	}
	47% {
		content: "data";
	}
	48% {
		content: "data ";
	}
	49% {
		content: "data p";
	}
	50% {
		content: "data pi";
	}
	51% {
		content: "data pip";
	}
	52% {
		content: "data pipe";
	}
	53% {
		content: "data pipel";
	}
	54% {
		content: "data pipeli";
	}
	55% {
		content: "data pipelin";
	}
	56% {
		content: "data pipeline";
	}
	57% {
		content: "data pipelin";
	}
	58% {
		content: "data pipeli";
	}
	59% {
		content: "data pipel";
	}
	60% {
		content: "data pipe";
	}
	61% {
		content: "data pip";
	}
	62% {
		content: "data pi";
	}
	63% {
		content: "data p";
	}
	64% {
		content: "data ";
	}
	65% {
		content: "data";
	}
	66% {
		content: "dat";
	}
	67% {
		content: "da";
	}
	68% {
		content: "d";
	}
	69%,
	70% {
		content: "";
	}

	71% {
		content: "i";
	}
	72% {
		content: "id";
	}
	73% {
		content: "ide";
	}
	74%,
	100% {
		content: "idea";
	}
	/* 76% {
		content: "ide";
	}
	77% {
		content: "id";
	}
	78% {
		content: "i";
	}
	79%,
	100% {
		content: "";
	} */
}
@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.typewriter {
	--caret: currentcolor;
}

.typewriter::before {
	content: "";
	animation: typing 13.5s forwards;
}

.typewriter::after {
	content: "";
	border-right: 1px solid white;
	animation: blink 0.8s linear infinite;
}

.typewriter.thick::after {
	border-right: 1ch solid white;
}

@media (prefers-reduced-motion) {
	.typewriter::after {
		animation: none;
	}

	@keyframes sequencePopup {
		0%,
		100% {
			content: "start up";
		}
		25% {
			content: "web app";
		}
		50% {
			content: "CMS";
		}
		75% {
			content: "data pipeline";
		}
		100% {
			content: "idea";
		}
	}

	.typewriter::before {
		content: "developer";
		animation: sequencePopup 12s linear forwards;
	}
}
